---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="rounded-lg border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-medium">To NetPioneers,</h3>
      <p class="text-muted-foreground text-sm">致初次见面的网络开拓者们，</p>
    </div>
    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        这里是网络开拓者协会（Net Pioneer Association of
        BIT）的公共博客，记录着历代开拓者们的点滴记录。
        可能是技术分享，可能是活动回顾，也可能是一些随笔。
      </p>
      <p class="text-muted-foreground mb-2 text-sm">
        如果你是互联网上路过的游人，欢迎你四处浏览，或许你会发现一些有趣的东西，也希望某段文字能帮到你、打动你。
        好奇的话，也欢迎你 <Link href="/about" class="text-foreground" underline
          >了解一下我们</Link
        > 。
      </p>
      <p class="text-muted-foreground mb-2 text-sm">
        如果你是网协的成员，欢迎你也来 <Link
          href="https://github.com/BITNP/blog"
          class="text-foreground"
          external
          underline>这里</Link
        > 分享你的故事。
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
